.mystyle {
    font-family :'Roboto Condensed';
    text-transform: uppercase;
    background:linear-gradient(hsl(30 10% 10% / 0.4),hsl(40 0% 0% / 0.5) 30%,hsl(0 0% 0% / 1)) ;
    color:white;
    line-height: 1.6;
    border-radius: 15px;
    border-style: hidden;
    display: flex;
    padding: 18px;
    text-align: center;
    justify-content: space-evenly;
    width: auto;
    position: sticky;
    top:0;
    z-index: 1; 
    text-decoration: none;
    };
    .nice{
        text-decoration: none;
        color: white;
        }
    .nice:hover {
        background-color:rgba(230, 229, 241, 0.739);
    color: white;
        }
a {
    text-decoration: none;
}
div a {
    text-decoration: none;
    color: white;
    margin:auto;
}

